*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;

}
body{
    background: black;
}

.main-header{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

}
button {
    color: rgb(255, 255, 255);
    background-color: #6616b1;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
}

button:hover {
    opacity: 0.8;
}
button:active{
    opacity: 0.6;
}

ul {
    margin-top: 35px;
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

li {
    border: 3px solid  #2ce607;
    border-radius: 5px;
    padding: 5px;
    

}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: white;
    font-weight: bold;
}

.item-price {
    color: #bf7aff;
}

